TestFileService/Service References/FileService/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FMFilesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FMFilesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Files" nillable="true" type="tns:Files" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiles" nillable="true" type="tns:ArrayOfFiles" />
  <xs:complexType name="Files">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Files" nillable="true" type="tns:Files" />
</xs:schema>